/* FV - Thoughtful Comments */
.tc_highlight {	background: red;
	color: white;
	padding: 3px;
}.tc_highlight_spam {
	background: brown;
	color: white;
	padding: 3px;
}.tc-frontend {	font-size: 80%;
}
.tc-frontend a {
	margin-right: 6px;
}
.tc-frontend a:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 20px/1 'dashicons';
	vertical-align: middle;
}
.tc-frontend span[id$="-approve"] a:before {
	content: "\f147";	
}
.tc-frontend a.fv-tc-del:before {
	content: "\f182";
}
.tc-frontend a.fv-tc-ban:before {
	content: "\f227";
}
.tc-frontend a.fv-tc-delthread:before {
	content: "\f117";
}
.tc-frontend a.fv-tc-banthread:before {
	content: "\f335";
}

#fv_tc_ticker.floating {
  background: white;
  margin: 20px;
  padding: 20px;
  z-index: 100;
}




div.fv_tc_voting_box {
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
  width: 120px;
}
div.fv_tc_voting_box > div.fv_tc_voting,
div.fv_tc_voting_box > div.fv_tc_voting_count {
  float:left;
  margin:0 5px 0 5px;
}

div.fv_tc_voting_box > div.fv_tc_voting > span {
  margin: 0 0 0 5px;
}

div.fv_tc_voting_box > div.fv_tc_voting_count {
  line-height: 25px;
}

div.fv_tc_voting_box > div.fv_tc_voting {
  cursor: pointer;
}